{% extends 'layout/base.html' %} {% block content %}

<section class="card card-body">
    <h1 class="display-1">Home</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        obcaecati officiis, voluptas, est maiores alias, deleniti nihil
        accusantium necessitatibus eligendi ratione! Temporibus ducimus, cumque
        nemo reprehenderit dolorem veritatis hic corporis. Deserunt eaque, enim
        mollitia aspernatur, sunt, temporibus expedita quae dolore culpa autem
        soluta pariatur hic qui eligendi repellat rem necessitatibus cumque cum
        nisi accusantium fuga eum blanditiis modi! Distinctio, vero. Impedit
        explicabo magnam minima obcaecati sed inventore atque illum natus a
        molestiae! Sit repellendus delectus in ad sint tempora quae quisquam
        aliquam, facilis ducimus, impedit maxime animi iure officia provident!
        Maxime consectetur, at maiores voluptates voluptatem tempora repellendus
        ipsam laboriosam. Maxime, sapiente omnis expedita atque voluptates
        perspiciatis veniam corporis ducimus vero porro numquam saepe, incidunt
        fugiat at earum est consequatur? Laborum modi accusantium obcaecati
        aliquid, incidunt doloribus magni dolores consequatur tempore neque aut
        quasi natus nobis iure deleniti ipsa commodi fugit totam aspernatur nisi
        nulla illo pariatur? Voluptates, illum deserunt! Voluptatum quisquam,
        quidem debitis minima at consectetur. Expedita inventore tempore labore
        dolor nihil? Quia, at dolore tempora reiciendis excepturi, enim esse
        eum, sint quis amet nihil odio dolorem omnis temporibus! Vero atque
        eligendi reiciendis, veritatis inventore quisquam blanditiis odit
        maiores ut incidunt cumque rerum! Porro, veniam, officia et magni
        laudantium minus necessitatibus nemo autem, molestias corporis soluta at
        nobis! Id! Cum sed adipisci provident reprehenderit? Repellat incidunt
        pariatur illo culpa quas eos porro. Sapiente praesentium sequi veritatis
        corrupti cum hic, dignissimos odit earum blanditiis veniam tenetur
        doloremque doloribus vel eos! Non eligendi odit voluptatem iste
        dignissimos fuga dolores optio voluptatibus placeat? Pariatur, beatae
        voluptate officiis temporibus fugiat aspernatur rem tenetur itaque ab
        iusto ad repellendus eum soluta? Iste, cupiditate eaque. Laudantium,
        adipisci enim consequuntur veniam excepturi pariatur modi nam deserunt
        tenetur facere rerum, voluptate veritatis repudiandae. Atque aspernatur,
        nostrum explicabo doloremque magni et, ex corporis itaque porro error
        maxime nulla.
    </p>
</section>
{% endblock %}
