{% extends 'layout/base.html' %} {% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Tasks Pending</h1>
        {% for task in tasks %}
        <div class="card card-body">
            <a class="card-title" href="{% url 'task_detail' task.id %}">
                <h3>{{task.title}}</h3>
            </a>
            {% if task.important %}
            <p>Important!!</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
